:root {
    --name-width: 10rem;
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 0;
}

#wrapper {
    display: flex;
    width: 100%;
}

#content-left {
    flex: 0 0 auto;
}

#content-right {
    flex: 1 0 auto;
}

#content-right:focus {
    outline: none;
}

.line-data, .line-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

.line-number {
    flex: 0 0 2rem;
}

.speaker-name {
    flex: 0 0 auto;
    width: var(--name-width);
}

.utterance {
    flex: 1 1 0;
}