:root {
    --name-width: 16rem;
}

html {
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 0 0 1rem 0;
    font-size: 1.6rem;
}

body {
    background-color: #f3f3f3;
}

.app {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.page-wrapper {
    width: 100%;
    max-width: 110rem;
    background-color: #fff;
    padding: 1.6rem;
    border-radius: 0.5rem;  
}

#content-wrapper {
    display: flex;
    width: 100%;
}

.toolbar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: #fafafa;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.12);
    padding: 0.6rem;
    margin-bottom: 2rem;
}

button {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #333;
    padding: 0.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-right: 0.6rem;
}

.button-square {
    width: 2.5rem;
    font-family: 'Times New Roman', Times, serif
}

#style-bold {
    font-weight: bold;
}

#style-italic {
    font-style: italic;
}

#style-underline {
    text-decoration: underline;
}

#check-selection {
    margin-left: auto;
}

#content:focus {
    outline: none;
}

.line-number {
    flex: 0 0 2rem;
}

.speaker-name {
    flex: 0 0 auto;
    width: var(--name-width);
}

.utterance {
    flex: 1 1 0;
}

/* ---------------- SPAN STYLES ---------------- */

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underlined {
    text-decoration: underline;
}